resource_group_name = "rg-azure-platform-dev"
location            = "East US"

tags = {
  environment = "dev"
  project     = "azure-platform-engineering"
  managed_by  = "terraform"
}

vnet_name     = "vnet-azure-platform-dev"
address_space = ["10.0.0.0/16"]

aks_subnet_name                = "snet-aks-dev"
aks_subnet_prefix              = "10.0.1.0/24"

app_subnet_name                = "snet-app-dev"
app_subnet_prefix              = "10.0.2.0/24"

private_endpoint_subnet_name   = "snet-private-endpoints-dev"
private_endpoint_subnet_prefix = "10.0.3.0/24"

aks_nsg_name                   = "nsg-aks-dev"
app_nsg_name                   = "nsg-app-dev"
private_endpoint_nsg_name      = "nsg-private-endpoints-dev"

storage_account_name = "stsrujanaplatformdev01"

key_vault_name = "kv-srujana-platform-dev"

log_analytics_workspace_name = "log-azure-platform-dev"
log_analytics_sku            = "PerGB2018"
log_retention_in_days        = 30

